
/* top title bar */
.navbar-header {
  width: 100%;
}

.title-bar {
  height: 120px;
  background-color: #E6E6E6;
  border-radius: 0;
  margin-bottom: 0;
}

.title-logo {
  margin-top: 15px;
  /*float: left;*/
}

.profile-image{
  float: right;
  margin-right: 0;
}

.title-avatar{
  height: 60px;
  width: 60px;
  border-radius: 100%;
  margin-top: 28px;
}


/* pages bar */

.pages-bar {
  min-height: 0;
  height: 40px;
  background-color: #F1F1F1;
  border-radius: 0;
  margin-bottom: 0;
}

.hamburger {
  margin-top: 11px;
  margin-left: 5px;
  height: 15px;
  width: 15px;
  float: left;
}


.navbar-text {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  margin-top: 9px;
  margin-left: 20px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.navbar-bold {
  /*font-size: 14px;*/
  font-weight: 700;
}

.navbar-link {
  color: #404040;
}


/* filters bar */

.filters-bar {
  min-height: 0;
  height: 40px;
  background-color: #6F6F6F;
  border-radius: 0;
  margin-bottom: 0;
  color: #FFF;
}

.navbar-left40 {
  margin-left: 40px;
}

.filterbar-link {
  color: #FFF;
}