/*fuck your rounded corners*/
* {
  border-radius: 0 !important;
}


/* top title bar */
.navbar-header {
  width: 100%;
  min-width: 1170px;
}

.title-bar {
  height: 120px;
  background-color: #E6E6E6;
  border-radius: 0;
  margin-bottom: 0;
  min-width: 1170px;
}

.title-logo {
  margin-top: 20px;
  /*float: left;*/
}

.profile-image{
  float: right;
  margin-right: 0;
}

.title-avatar{
  height: 60px;
  width: 60px;
  margin-top: 28px;
  margin-right: 20px;
  border-radius: 100% !important;
}


/* pages bar */

.pages-bar {
  min-height: 0;
  min-width: 1170px;
  height: 40px;
  background-color: #F1F1F1;
  border-radius: 0;
  margin-bottom: 0;
}

.hamburger {
  margin-top: 11px;
  margin-left: 5px;
  height: 15px;
  width: 15px;
  float: left;
}


.navbar-text {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  margin-top: 9px;
  margin-left: 20px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.navbar-bold {
  /*font-size: 14px;*/
  font-weight: 700;
}

.navbar-link {
  color: #404040;
}


/* filters bar */

.filters-bar {
  min-height: 0;
  min-width: 1170px;
  height: 40px;
  background-color: #6F6F6F;
  border-radius: 0;
  margin-bottom: 0;
  color: #FFF;
}

.navbar-left40 {
  margin-left: 40px;
}

.filterbar-link {
  color: #FFF;
}


/* job panels */
.job-type {
  height: 60px;
  padding-top: 18px;
  padding-left: 20px;
  min-width: 1170px;
  background-color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #404040;
}

.panel-group {
  margin-bottom: 2px;
  border-radius: 0;
}

.panel-heading {
  height: 100px;
}

.job-panel {
  padding-left: 20px;
  cursor: pointer;
  min-width: 1170px;
}

.accordion-toggle {
  margin-top: 50px;
}

.info-container {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

#job-number {
  width: 110px;
}

#client {
  width: 120px;
}

#reference {
  width: 250px;
}

#address {
  width: 180px;
}

#date {
  width: 200px;
}

.red {
  color: red;
}

.info-header {
  font-weight: 500;
}

.info-body {
  font-weight: 700;
  margin-top: 2px;
  margin-bottom: 2px;
}

.indicator {
  display: inline-block;
  float: right;
  padding-top: 31px;
  color: #6F6F6F;
}

/* job slide-out panel info */

.panel-default {
  min-width: 1170px;
}

.line {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.date {
  width: 130px;
}

.action {
  width: 700px;
}